.LeftBarView {
	width: 100%;
	height: 100%;
	background-color: #A5FBA5;
	display:inline-block;
}

#LeftBarTable {
	margin-top: 10%;
	width: 100%;
	height: 40%;
    display:table;
}

.LeftBarTr {
    display: table-row;
	width: 100%;
	height: 10%;
}

.LeftBarTd {
    display: table-cell;
    vertical-align:middle; 
    text-align:center;
}

.LeftBarItem {
	margin-left: 5%;
	width: 90%;
	height: 85%;
	font-size: 16px;
	font-family:微軟正黑體;
	color:#ffffff; 
    text-align:center;
    background-color: #30b547;
	border-radius: 5px;
	line-height:36px;
}

.LeftBarItem:hover {
	margin-left: 5%;
	width: 90%;
	height: 85%;
	font-size: 16px;
	font-family:微軟正黑體;
	color:#ffffff; 
    text-align:center;
    background-color: #2e8b57;
	cursor: pointer;
	border-radius: 5px;
	line-height:36px;
}