#JoinDialogViewBoxScroll ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.qa_title_on {
	text-decoration: underline;
}

#JoinDialogView {
	display:inline-block;
	width: 100%;
	height: 100%;
}
.JoinDialogViewBox {
	width: 40%;
	height: 80%;
	display:inline-block;
	margin-left: 30%;
	margin-top: 5%;
	border-radius: 10px;
	background-color: #f0fff0;
}
#JoinDialogViewBoxScroll {
	width: 70%;
	height: 80%;
	margin: 0 auto;
	margin-top: 10%;
	background-color: #e3ffe3;
	border-radius: 8px;
	overflow-x: hidden; 
	overflow-y: auto; 
	white-space: nowrap;
}
.JoinDialogItemBox {
	height: 40px;
	width: 80%;
	margin-left: 10%;
	background-color: #2e8b57;
	border-radius: 5px 5px 0px 0px;
	margin-bottom: 0.5%;
}
.JoinDialogItemTitle {
	width: 80%;
	height: 36px;
	margin-top: 2px;
	margin-left: 5%;
	float: left;
	color: white;
	font-size: 20px;
	font-family:微軟正黑體;
	line-height:36px;
}
.JoinDialogItemBt {
	float: left;
	margin-top: 2px;
	height: 36px;
	width: 36px;
}

.JoinDialogItemBt img{
	width: 100%;
	height: 100%;
}
.JoinDialogItemframe {
	display:inline-block;
	background-color: #ccf5c4;
	margin-left: 10%;
	margin-bottom: 5%;
	width: 80%;
	height: 200px;
	border-radius: 0px 0px 5px 5px;
}
