.JoinPageView {
	width: 100%;
	height: 100%;
	display:inline-block;
}
.JoinPageViewBox {
	width: 85%;
	height: 90%;
	margin-left: 7.5%;
	margin-top: 5%;
	background-color: #e3ffe3;
	border-radius: 8px;
	overflow-x: hidden; 
	overflow-y: auto; 
	white-space: nowrap;
}
.JoinPageViewItems {
	margin:0 auto;
	width: 90%;
	height: auto;
	margin-top: 5%;
}
.JoinPageViewItemsTitle {
	width: 40%;
	height:30px;
	border-radius: 5px 5px 0px 0px;
	background-color: #08AA00;
}
.JoinPageViewItemsName {
	width: 40%;
	height: 70px;
	background-color: #ccf5c4;
}
